<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>多牛</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <!-- <b>多牛猜球</b> -->
      <img class="logo-img" src="../../assets/login/logo.png" alt="">
    </span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img *ngIf="userinfo.Avatar" src="{{userinfo.Avatar | imgUrl}}" class="user-image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">{{userinfo.NickName}}</span>
            <!-- <p class="hidden-xs">竞猜大师</p> -->
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img *ngIf="userinfo.Avatar" src="{{userinfo.Avatar | imgUrl}}" class="img-circle" alt="User Image">
              <p>
                {{userinfo.ExpLabel}}
                <small>{{userinfo.ExpIntro}}</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:;" routerLink="./setting" class="btn btn-default btn-flat">修改密码</a>
              </div>
              <div class="pull-right">
                <a href="javascript" routerLink="../login" class="btn btn-default btn-flat">退出登录</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>
  </nav>
</header>