.tablestyle th,.tablestyle td{
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}

.textl{
    text-align: left !important;
    padding-left: 25px;
}

.textblod{
    font-weight: 800;
}

.liyou{
    line-height: 30px;
}