<div class="row rowbox">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <p>累计收益 （元）</p>
        <h3>1268.32</h3>
        <p>累计出售方案数 23</p>
      </div>
      <div class="icon">
        <i class="fa fa-jpy"></i>
      </div>
    </div>
  </div>
  <!-- ./col --> 
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-orange">
      <div class="inner">
        <p>昨日收益 （元）</p>
        <h3>26.80</h3>
        <p>昨日售出方案 18</p>
      </div>
      <div class="icon">
        <i class="fa fa-usd"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <p>累计提款 （元）</p>
        <h3>1233.32</h3>
        <p>累计提款次数 12</p>
      </div>
      <div class="icon">
        <i class="fa fa-credit-card-alt"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <p>账户余额 （元）</p>
        <h3>26.80</h3>
        <p>提款规则满100元提款</p>
      </div>
      <div class="icon">
        <i class="fa fa-calculator"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>


<div class="row rowbox">
  <p class="tit">专家状态 （计划）</p>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <p>百元盈利</p>
        <h3>4327.00元</h3>
        <p>累计推荐场次 23场</p>
      </div>
    </div>
  </div>

  <div class="tips col-lg-3 col-xs-6">
    <div class="box box-blue">
      <div class="box-header with-border">
        <h3 class="box-title">当前状态</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        2连红
      </div>
    </div>
  </div>

  <div class="tips col-lg-3 col-xs-6">
    <div class="box box-red">
      <div class="box-header with-border">
        <h3 class="box-title">长红指数</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        2
      </div>
    </div>
  </div>

  <div class="tips col-lg-3 col-xs-6">
    <div class="box box-black">
      <div class="box-header with-border">
        <h3 class="box-title">长黑指数</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        4
      </div>
    </div>
  </div>
</div>


<div class="row rowbox">
  <p class="tit">专家状态 （情报）</p>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
      <div class="inner">
        <p>盈利率</p>
        <h3>27<sup style="font-size: 20px">%</sup></h3>
        <p>累计推荐场次 27场</p>
      </div>
    </div>
  </div>

  <!-- /.col -->
  <div class="tips col-lg-3 col-xs-6">
    <div class="box box-blue">
      <div class="box-header with-border">
        <h3 class="box-title">近期命中</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        10中5
      </div>
    </div>
  </div>
</div>