<div class="bg"></div>
<div class="login">
  <div class="logo"><img src="../../assets/login/logo-login.png" alt=""></div>
  <div class="title">多牛专家推荐录入后台</div>
  <div class="formsbox">
    <div class="formstit">用户名</div>
    <input class="logininput" type="text">
    <i class="fa fa-times"></i>
  </div>
  <div class="formsbox">
    <div class="formstit">密码</div>
    <input class="logininput" type="text">
    <i class="fa fa-eye-slash"></i>
    <!-- <i class="fa fa-eye"></i> -->
  </div>
  <div class="formsbox">
    <input class="logininput" type="text" placeholder="请输入验证码">
  </div>
  <div class="loginbtn">登 录</div>
</div>