<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li [ngClass]="{'active': type == 1}">
        <a href="javascript:;" (click)="choose(1)" routerLink="./userinfo">
          <i class="fa fa-home"></i>
          <span>专家概况</span>
        </a>
      </li>
      <li [ngClass]="{'active': type == 2||type == 3||type == 4}" class="treeview">
        <a href="#"><i class="fa fa-th-list"></i> <span>足球情报</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'active': type == 2}"><a href="#" href="javascript:;" (click)="choose(2)" routerLink="./soccerexpert/1">单关计划</a></li>
          <li [ngClass]="{'active': type == 3}"><a href="#" href="javascript:;" (click)="choose(3)" routerLink="./soccerexpert/2">串关计划</a></li>
          <li [ngClass]="{'active': type == 4}"><a href="#" href="javascript:;" (click)="choose(4)" routerLink="./soccerexpert/3">足球情报</a></li>
        </ul>
      </li>
      <li [ngClass]="{'active': type == 5}">
        <a href="javascript:;" (click)="choose(5)" routerLink="./payments">
          <i class="fa fa-credit-card"></i>
          <span>账户收支</span>
        </a>
      </li>
      <li [ngClass]="{'active': type == 6}">
        <a href="javascript:;" (click)="choose(6)" routerLink="./setting">
          <i class="fa fa-cog"></i>
          <span>设置</span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
    
  </section>
  <!-- /.sidebar -->
</aside>